<%- include("../includes/header.ejs", {title:"rune - View All"}); %>

<h1>Resumes</h1>
        <a href="/rune/add">Add New rune</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/rune/?rune_id=<%= result[i].rune_id %>"><%= result[i].page_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/rune/edit/?rune_id=<%= result[i].rune_id %>'">Edit</button>
                    <form action="/rune/delete/" style="display:inline;">
                        <input type="hidden" name="rune_id" id="rune_id" value="<%= result[i].rune_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>