<%- include("../includes/header.ejs", {title:"Runes - " + result[0].page_name}); %>
    <h1>Runes</h1>
    <ul>
        <li>Rune Name: <%= result[0].page_name %></li>
        <li>Mark: <%=result[0].mark%></li>
        <li>Seal: <%=result[0].seal%></li>
        <li>Glyph: <%=result[0].glyph%></li>
        <li>Quintessence: <%=result[0].quintessence%></li>
    </ul>

<a href="/rune/all"><< back</a>

<%- include("../includes/footer.ejs"); %>