<%- include("../includes/header.ejs", {title:"champion - View All"}); %>

<h1>Companies</h1>
        <a href="/champion/add">Add New champion</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/champion/?champion_id=<%= result[i].champion_id %>"><%= result[i].champion_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/champion/edit/?champion_id=<%= result[i].champion_id %>'">Edit</button>
                    <form action="/champion/delete/" style="display:inline;">
                        <input type="hidden" name="champion_id" id="champion_id" value="<%= result[i].champion_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>