<%- include("../includes/header.ejs", {title: "Update " + champion.name}); %>

<h1>Update <%= champion.champion_name%></h1>
<form action="/champion/update" method="get">
    <input type="hidden" id="champion_id" name="champion_id" value="<%= champion.champion_id %>">
    champion Name: <input id="name" name="name" type="text" value="<%= champion.champion_name%>"/>
    <br />
    <br />
    Abilities
    <br />
    <select id="ability_id" name="ability_id" multiple="multiple">
        <% for(var i=0; ability.length > i; i++ ) { %>
        <option value="<%= ability[i].ability_id %>"><%= ability[i].name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#address_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>