<html>
<head>
    <title>Masteries - <%= result[0].page_name %></title>
</head>
<body>
    <h1>Masteries</h1>
    <ul>
        <li>Mastery Name: <%= result[0].page_name %></li>
        <li>Ferocity: <%=result[0].num_ferocity%></li>
        <li>Cunning: <%=result[0].num_cunning%></li>
        <li>Resolve: <%=result[0].num_resolve%></li>
    </ul>
</body>

</html>